<div class="masthead clearfix">
  <div class="inner">
    <% company_name= "Prototype Project" %>
    <h3 class="masthead-brand"><%= company_name %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li> <%= link_to t('navigation.root'), root_path %> </li>
        <li> <%= link_to t('navigation.admin'), admin_root_path %> </li>
      </ul>
    </nav>
  </div>
</div>
