<div class="inner cover">
    <% company_name = "Prototype Project" %>
    <% company_moto = "This is just a prototype project in order to minimize the difference of vision between client and developer(Hamza Waseem) as well as the first step to start the work together" %>
       <h1 class="cover-heading"><%= company_name %></h1>
  <p class="lead"><%= company_moto %></p>
</div>
